datasets==2.18.0
flops-profiler==0.1.2
huggingface-hub==0.19.4
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
numba==0.56.4
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.12.2
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchsummary==1.5.1
torchtnt==0.2.3
torchview==0.2.6
torchvision==0.14.1+cu116
torchviz==0.0.2
tqdm==4.66.1
transformers==4.36.0
